absl-py==1.4.0
alabaster==0.7.13
altgraph==0.17.3
anyio==3.7.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astunparse==1.6.3
attrs==23.1.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
cachetools==4.2.4
camelot-py==0.11.0
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
cryptography==41.0.2
cycler==0.11.0
Cython==0.29.24
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distro==1.8.0
docutils==0.19
easyocr==1.7.0
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.2
fastjsonschema==2.18.0
fonttools==4.38.0
gast==0.3.3
ghostscript==0.7
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.56.2
h5py==2.10.0
idna==3.4
imageio==2.31.1
imagesize==1.4.1
imgaug==0.4.0
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipyparallel==8.6.1
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.7
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.17.3
jupyter-server==1.24.0
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
Markdown==3.4.3
MarkupSafe==2.1.3
mask-rcnn-tf2==1.0
matplotlib==3.5.3
matplotlib-inline==0.1.6
mistune==3.0.1
mrcnn==0.2
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==2.6.3
ninja==1.11.1
nose==1.3.7
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.20.3
oauthlib==3.2.2
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.1
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pdf2image==1.16.3
pdfminer.six==20221105
pefile==2023.2.7
pickleshare==0.7.5
Pillow==8.4.0
pkgutil_resolve_name==1.3.10
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post4
pycparser==2.21
Pygments==2.15.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
PyMuPDF==1.22.5
pyparsing==3.1.0
pypdf==3.13.0
PyPDF2==3.0.1
pyrsistent==0.19.3
pytesseract==0.3.10
python-bidi==0.4.2
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.3.0
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.10
PyYAML==6.0.1
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.16.2
scipy==1.4.1
Send2Trash==1.8.2
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabula-py==2.6.0
tabulate==0.9.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==2.3.0
terminado==0.17.1
testpath==0.6.0
tinycss2==1.2.1
torch==1.13.1
torchvision==0.14.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.7.1
urllib3==2.0.4
Wand==0.6.11
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.2.3
widgetsnbextension==4.0.8
wincertstore==0.2
wrapt==1.15.0
zipp==3.15.0
