body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header {
    background-color: #a4a4a4;
    color: white;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

.error {
    color: #FF0000;
    font-weight: bold;
}

.result a {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.result a:hover {
    background-color: #0056b3;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fdb705;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #444;
}

input[type="file"] {
    display: none;
}