<!DOCTYPE html>
<html>
<head>
    <title>Table Extraction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Table Extraction</h1>
        </div>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file-input" accept=".pdf" required>
            <label for="file-input" class="custom-file-upload">Choose file</label>
            <button type="submit" class="custom-button">Process file</button>
        </form>
        {% if error %}
            <div class="error">
                <p>{{ error }}</p>
            </div>
        {% endif %}
        {% if processed_file %}
            <div class="result">
                <a href="{{ url_for('download_file', filename=processed_file) }}" download>Download Processed PDF</a>
            </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>